.login-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.login-contain {
  display: flex;
  padding-top: 1.8rem;
  background-color: black;
  padding-left: 6rem;
  padding-right: 8rem;
  margin-top: 1rem;
  padding-bottom: 2.4rem;
  border-radius: 20px;
}

.login-label {
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: large;
  color: white;
}

.login-button-contain {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.8rem;
  padding-top: 0.5rem;
}

.login-register {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.8rem;
  padding-top: 0.5rem;
}

.error {
  color: red;
}
