.navBar {
  background: red;
  box-shadow: 4px 2px 5px black;
  color: white;
  margin-bottom: 1.2rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-brand {
  margin-right: auto;
}

.login-button {
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  color: black;
  border-color: black;
}
