.home-flex-contain {
  display: flex;
}

.home-video-player {
  margin-left: 24rem;
  margin-top: 5rem;
}

.home-comment-form {
  margin-left: 24rem;
  margin-top: 1rem;
}

.home-related {
  margin-left: 12rem;
  margin-top: 5rem;
}

.homepage-contain {
  margin-bottom: 4rem;
}
