.home-flex-contain {
  display: flex;
}

.home-video-player {
  margin-left: 18rem;
  margin-top: 5rem;
}

.home-comment-form {
  margin-left: 18rem;
  margin-top: 1rem;
}

.home-related {
  margin-left: 10rem;
  margin-top: 5rem;
}
