.video-reg-contain {
  text-align: right;
  margin-right: 2rem;
}

.video-contain {
  display: flex;
  max-width: 70%;
  margin: auto;
  justify-content: center;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 70px;
  column-gap: 150px;
  padding-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 1rem;
  margin-bottom: 7rem;
}
