.video-reg-contain {
  text-align: right;
  margin-right: 2rem;
}

.video-contain {
  display: flex;
  max-width: 70%;
  margin: auto;
  justify-content: center;
}

.video-container {
  display: center;
  padding-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 1rem;
  margin-bottom: 7rem;
}
